:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--body-bg: #05292e;
	--text: #7cb623;
	--bg-card: #062226;
	--btn-primary: #70a821;
}

body {
	margin: 0;
	background: radial-gradient(circle at 20% 20%, #29caeb, #214fa4, #90114e);
	font-family: 'Sour Gummy', sans-serif;
	color: white;
}
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
img,
svg,
video {
	max-width: 100%;
	height: auto;
}
